@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}