@font-face {
	font-family: "Ripe Apricot";
	src: url("../fonts/ParaType - Ripe Apricot.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Ripe Apricot";
	src: url("../fonts/ParaType - Ripe Apricot Italic.otf");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "MNS";
	src: url("../fonts/M_N_S.otf");
	font-style: normal;
	font-weight: normal;
}
