@import "variables.scss";
@import "mixins.scss";

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: Arial, sans-serif;
	font-size: 18px;
	color: $text-color;
}

a {
	padding-bottom: 2px;
	color: $link-color;
	text-decoration: none;
}

.wrapper {
	padding: 0 40px;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	box-sizing: border-box;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.invisible {
	visibility: hidden;
}
