$bg-color: #ffffff;
$black: #000;
$white: #fff;
$gray: #858587;
$link-color: #f84545;
$text-color: #1a1a1a;
$mobile: "max-width: 768px";
$tablet: "max-width: 991px";
$small-dekstop: "max-width: 1280px";
$dekstop: "max-width: 1366px";
$middle-dekstop: "max-width: 1440px";
$large-dekstop: "max-width: 1920px";
$extra-dekstop: "min-width: 1920px";
