// В этом файле должны быть стили для БЭМ-блока button, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

$shadow1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2 : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow3 : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow4 : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #999;
	padding: 20px;
	display: flex;
	min-height: 100vh;
	align-items: center;
	font-family: sans-serif;
	justify-content: center;
	background-color: #fbfbfb;
}

.button {
	color: white;
	border: none;
	outline: none;
	font-size: 24px;
	font-weight: 200;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	letter-spacing: 2px;
	box-shadow: $shadow1;
	text-transform: uppercase;
	background-color: #00a7ee;
	@include transition(all 0.2s ease-in);

	.button__text {
		z-index: 2;
		display: block;
		padding: 10px 20px;
		position: relative;

		&:hover {
			cursor: pointer;
		}
	}

	&:after {
		top: -50%;
		z-index: 1;
		content: '';
		width: 150%;
		height: 200%;
		position: absolute;
		left: calc(-150% - 40px);
		background-color: rgba(255,255,255,0.2);
		@include transform(skewX(-40deg));
		@include transition(all 0.2s ease-out);
	}

	&:hover {
		cursor: default;
		box-shadow: $shadow3;

		&:after {
			@include transform(translateX(100%) skewX(-30deg));
		}
	}
}


